@font-face {
    font-family: 'Batman';
    src: url('batmfa__-webfont.woff2') format('woff2'),
         url('batmfa__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 600px;
    background-color: black;
    color: lightgray;
}

footer {
    margin-top: 100px;
}

h1, h2 {
    text-align: center;
    font-family: "Batman";
}
