body {
    margin: 0;
    font-family: "Segoe UI", helvetica, sans-serif;
    font-size: 10px;
}

/* 
    lowering font, line height and margins 
    so that the row height is not affected
*/ 
h1 {
    color: black;
    font-size: 16px;
    line-height: 30%;
    margin-top: 0;
    margin-bottom: 0;
}

/* an easy way to turn on all borders for debugging */ 
/* table, tbody, tr, td, thead, th {
    border: 1px solid black;
} */

/*
    this <section> wraps the periodic-table.
    use flexboxes to centre the table on page.
*/
.periodic-table-section {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

/*
    this is the periodic <table> itself.
*/
.periodic-table {
    border-collapse: collapse;

    color: white;
    text-align: center;
    font-weight: bold;
}

/*
    square up all the cells. 
    add uneven top/bottom vs right/left padding 
    becuase there are 2 lines present in each 
    element cell that stretch it long, while we want
    to retain a square shape. 
*/
.periodic-table td {
    width: 30px;
    height: 30px;
    padding: 8px 11px;
}

/*
    Set the colours of each element group
*/ 
.periodic-table .alkmetal {         background-color: #234D57;}
.periodic-table .alkearthmetal {    background-color: #612E38;}
.periodic-table .nide {             background-color: #b65927;}
.periodic-table .transmetal {       background-color: #433C65;}
.periodic-table .metalloid {        background-color: #c79810;}
.periodic-table .postransmetal {    background-color: #2F4D47;}
.periodic-table .rnonmental {       background-color: #4970b3;}
.periodic-table .ngas {             background-color: #c75f77;}
.periodic-table .mystery {          background-color: #46474C;}








/*
    meant to set on an empty <tr> so the 
    row can be used as a vertical spacer 
    between rows
*/
.periodic-table tr.spacer-row {
    height: 45px;
}

/*
    the colour and element group legened
    at the bottom of the main table
*/
.periodic-table table.legend {
    width: 200px;

    color: black;
    font-weight: normal;
    text-align: left;
}

/*
    override the extra padding inherited
*/
.periodic-table table.legend > tbody > tr > td {
    padding: 0;
}

/*
    Set the 'color' and 'element group'
    column widths
*/
.periodic-table table.legend td:first-child {
    width: 20%;
}
.periodic-table table.legend td:last-child {
    width: 80%;
}

/* 
    The small legend colour boxes 
*/
.periodic-table table.legend .color-box{
    width: 20px;
    height: 20px;
}
